#confirmation
  %p
    == You are about to remove the page #{h @content.title} from the site.  
    Are you sure you want to do this?
  %p.buttons
    = delete_button url(:destroy_content, @content)
    = link_to "Cancel", url(:content, @content)
    

  
    
  