%h1 Contents controller, new action

%p 
  Edit this file in 
  %tt app/views/contents/new.html.erb

= error_messages_for @content

= form_for(@content, :action => url(:contents) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:contents)