#error
  %h1 Content Not Found
  %p
    Sorry!  We don't appear to have any content at this location.  If you believe you've 
    received this page in error, please contact
    %strong== Bob Smith
    at:
    %a{:href => "mailto:bob.smith@example.com"} bob.smith@example.com